.wrapper{
 
    background-color: purple;
    padding-top: 100px;
    padding-bottom: 300px;
    
}

.form-group{
   
    padding-top:50px;
    padding-left:500px;
    
}

.jk{
    text-align: center;
    padding-right: 1px;
}

.navbar {
    background: rgb(25, 92, 218);
    border: 0;
    border-radius: 0;
}